# Note that this script should not be enabled for the 4.9 Debian Stretch image!

[Unit]
Description=TS Startup

[Service]
Type=idle
ExecStart=/bin/bash /usr/local/bin/tsstartupscript

[Install]
WantedBy=multi-user.target


